header {
    padding: 1em;
    color: white;
    background-color: #0388A6;
    border-bottom: 1px solid black;
}

img {
    height: 12em;
}

h4 {
    color: #BF544B;
    font-weight: bold;
}

h5 {
    color: #F27E63;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th,
td {
    /* border: 1px solid black; */

    text-align: left;
}


tr:nth-child(even):not(:first-child) {
    background-color: #f2f2f2;

}

li {
    margin-left: .5em;
}

.perspective {
    perspective: 500px;
}

.card {
    transition: transform 1s ease;

    &:hover {
        transform: rotateY(-60deg);
    }
}

.-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0%;
    z-index: 15;
}